@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{   
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: var(--White);
}

.container{
    background-color: var(--OffBlack);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width:26rem;
    background-color: var(--DarkGrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 3rem;
    border-radius: 0.5rem;
}

.image{
    
    width: 6rem;
    border-radius: 10rem;
}

.name{
    font-size: 1.8rem;
    font-weight: 550;
}

.profile{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.city{
    color: var(--Green);
    font-weight: 700;
    
}

.para{
    color: #b7b7b7;
}

.social_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
   
}

.links{
    width: 100%;
    background-color: var(--Grey);
    border: none;
    text-align: center;
    padding: 0.8rem;
    text-decoration: none;
    border-radius: 0.4rem;
    font-weight: 600;
}

.links:active{
    background-color: var(--Green);
    color: var(--OffBlack);
}